@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    IPublishedContent? settings = Umbraco.Content(1066);
}
<div class="m-auto">

</div>
<div class="text-center p-3">
    @Html.Raw(settings.Value("websiteName", fallback: Fallback.ToAncestors) + " - " + settings.Value("footerText", fallback: Fallback.ToAncestors) + " - "+ @DateTime.UtcNow.Year)
</div>
