/*Global*/

/*Header*/
.header {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
}

    .header .horizontal-separator {
        display: block;
        height: 5px;
        width: 100px;
        background: gold;
        margin: auto;
    }

    .header div.nav-menu {
        margin: auto 0;
    }