@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    IPublishedContent? settings = Umbraco.Content(1066);
    bool hasLogo = settings.HasValue("logo");
    IPublishedContent currentContent = Umbraco.AssignedContentItem;
    var nav = settings.Value<IEnumerable<Umbraco.Cms.Core.Models.Link>>("MainNavigation");
}
@if (hasLogo)
{
    <div class="ws-logo">
        <img class="" src="" alt="" />
    </div>
}
else
{
    string pageTitle = currentContent.Value<string>("pageTitle");
    <div class="header-name">
        <span class="h2 header-name-title">@pageTitle</span>
    </div>
}
<div class="horizontal-separator">
</div>
<div class="nav-menu">
    <nav class="d-inline-flex">
        <ul class="nav">
            @foreach (Umbraco.Cms.Core.Models.Link link in nav)
            {
                <li class="">
                    <a class="" href="@link.Url">@link.Name</a>
                </li>
            }
        </ul>
    </nav>
</div>
